.references .ql-container,
.work-exp .ql-container {
    height: 60% !important;
}

.references .ql-toolbar {
    background-color: rgb(195, 233, 245) !important;
}

.work-exp .ql-toolbar {
    background-color: rgb(192, 244, 192) !important;
}

.work-exp .ql-container {
    height: 80% !important
}

.student-intro .ql-container {
    height: 88%;
}

.student-terms .ql-container {
    height: 84%;
}